html,body
{
  background-color: #ffdab9;
}
#logo 
{
width: 100px;
height: 100px;
margin-left: 500px;
float:left;
margin-right: 300px;
}
#line
{
  background-color: #c2e69e;
  width: 1920px;
  margin: 8px;
  height: 100px;
}
#pervtab
{
  background-color: #c2e69e;
  width: 960px;
  margin: 20px;
  margin-left: 480px;
  height: 70px;
}
p{
 display:inline-block;
 float: left;
 margin-right: 225px;
 text-align: center;
} 
#secondtb
{
  background-color: #c2e69e;
  width: 960px;
  margin: 20px;
  margin-left: 480px;
  height: 600px;
}
