html,body
{
  background-color: #ecb2c5;
}
#logo 
{
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}
#line
{
  background-color: #ce3b6b;
  width:1920px;
  margin:0 auto;
  height:100px;
}
nav 
{
  clear: both;
}

